<html ng-app="app">
<div class="container">
    <div class="row">
        <main role="main" class="col-md-10 ml-sm-auto col-lg-12">
        
        <form>
            <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-2">
                <h3 class="breadcrumb-item active">&ensp;Simulando Empréstimo</h3>
            </div>
            <div class="form-group">
                    <h5>Nome do Cliente: {{vm.cadastro.nome}}</h5>
                    <h5>Rendimento Mensal: R$  {{vm.cadastro.rendimentoMensal}}</h5>
<!--
                <label for="cliente" class="required">Nome do Cliente</label>
                <input ng-model="vm.cadastro.nome"
                        ng-class="{'is-invalid' : vm.error.nome && !vm.cadastro.nome}"
                        type="text" 
                        class="form-control"
                        maxlength="100" 
                        required>
                </div>-->
            </div>
            <!--
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="potencia" class="required">Rendimento Mensal</label>
                    <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">R$</div>
                    </div>
                        <input ng-model="vm.cadastro.rendimentoMensal"
                                type="text" 
                                class="form-control" 
                                name="rendimentoMensal"
                                ng-disabled="false">
                    </div>
                </div>
            </div> -->
        </form>
        <div class="form-row justify-content-end pt-3 mr-1">
            <button ng-click="vm.simularEmprestimo()" 
                    type="button"
                    class="btn btn-outline-success mr-2">Simular
            </button>
            <a ui-sref="clienteList" 
                class="btn btn-outline-danger">Cancelar
            </a>
        </div>
    </div>
</div>