<html ng-app="app">
<div class="container">
    <div class="row">
        <main role="main" class="col-md-10 ml-sm-auto col-lg-12">
            <form>
                <div class="card mx-auto" style="width:650px;">
                    <h5 class="card-header">Simulando Empréstimo</h5>
                    <div class="card-body">
                        <p class="card-text">Cliente: <small class="text-muted">{{vm.emprestimo.cliente.nome}}</small></p>
                        <p class="card-text">Rendimento Mensal: <small class="text-muted">R$ {{vm.emprestimo.cliente.rendimentoMensal}}</small></p>
                        <p class="card-text">Risco: <small class="text-muted">{{vm.emprestimo.cliente.risco}}</small></p>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="valorSolicitado" class="required">Valor Solicitado</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">R$</div>
                                        </div>
                                        <input ng-model="vm.emprestimo.valorSolicitado" 
                                               ui-number-mask 
                                               type="text" 
                                               class="form-control" 
                                               name="valorSolicitado"
                                               ng-change="vm.limpaSimulacao()"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="meses" class="required">Meses</label>
                                    <div class="input-group mb-2">
                                        <input ng-model="vm.emprestimo.meses" 
                                               type="number" 
                                               class="form-control" 
                                               name="meses"
                                               ng-change="vm.limpaSimulacao()"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" ng-if="vm.emprestimo.valorSimulacao > 0">
                                <label for="valorSimulacao">Valor da simulação</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">R$</div>
                                    </div>
                                    <input ng-model="vm.emprestimo.valorSimulacao" 
                                           ui-number-mask type="text" 
                                           class="form-control" 
                                           name="valorSimulacao" 
                                           disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-end pt-3 mr-1">
                            <button ng-disabled="(!vm.emprestimo.valorSolicitado || !vm.emprestimo.meses)"
                                    ng-click="vm.simularEmprestimo()"
                                    type="button" 
                                    class="btn btn-outline-success mr-2">Simular
                            </button>
                            <a ui-sref="clienteList" 
                               class="btn btn-outline-danger">Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>